/* GENERAL STYLING */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background: #8990ec;
}

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: white;
}

button {
  background: #8990ec;
  color: #222;
  font-weight: 700;
  margin: 20px 0;
  padding: 15px;
  cursor: pointer;
}

ol {
  list-style-position: inside;
}

li {
  padding: 5px 0px;
}
.d-none {
  display: none;
}

/* NAVBAR STYLING */

.navbar {
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #353959;
}

.navbar h2 {
  color: black;
}

.timerDiv {
  display: flex;
}

.timerDiv #timer {
  padding-left: 5px;
}

/* MAIN STYLING */
.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background: #272639;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.wrapper h1 {
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid #353959;
  padding-bottom: 30px;
}

.container {
  padding: 30px 0;
}

.btn {
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 25%;
}

/* HOME PAGE STYLING */

.homeTxt {
  font-size: 23px;
  font-weight: 300;
}

/* QUIZ STYLING */

.questionTxt {
  font-size: 21px;
  font-weight: 600;
  text-align: left;
}

.answerBtn {
  width: 100%;
  border: 1px solid #222;
  border-radius: 10px;
  text-align: left;
}

/* FINAL SCORE STYLING */

.userScoreTxt {
  font-size: 25px;
  font-weight: 700;
}

.inputContainer {
  margin-top: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.inputContainer label {
  font-size: 18px;
}

.input {
  height: 30px;
  width: 200px;
  font-size: 14px;
  background: #353959;
  border: none;
  border-radius: 22px;
  outline: none;
  margin-left: 10px;
  padding: 0 15px;
}

.inputBtn {
  margin-left: 10px;
}

/* HIGH SCORES STYLING */

.highScoresTxt {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 15px;
}

.scoreListContainer {
  width: 25%;
  justify-content: center;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}
